/* common part start */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1110px;
    margin: auto;
}
.row{
    display: flex;
    /* flex-wrap: wrap; */
}
/* common part end */
/* header part start */
#header .bar{
    justify-content: space-between;
}
#header .bar ul li {
    display: inline-block;
}
#header .bar ul li a{
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #353535;
    display: block;
    padding: 5px 15px;
    border-bottom: 1px solid transparent;
}
#header .bar ul li a:hover{
    border-bottom: 1px solid  #353535;   
}
/* header part end */


/* main part start */

/* banner part start */
#banner {
    height: 635px;
}
#banner .left-side{
    width: 50%;
    padding-top: 50px;
}
#banner .left-side h5{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: #353535;
    padding-bottom: 20px;
}
#banner .left-side h1{
    font-family: PT Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 83px;
    color: #353535;
    padding-bottom: 20px;
}
#banner .left-side h4{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 38px;
    color: #353535;
    padding-bottom: 30px;
}
#banner .left-side button{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    padding: 15px 30px;
    background-color:#FFF;
    border-radius: 16px;
    color: #353535;
    margin-top: 20px;
    outline: .5PX solid #353535;
    margin-right: 20px;
    transition: .3s;
    border: none;
}
#banner .left-side button:hover{
    color: #fff;
    background-color:#FFCC00;
    outline: none;
}
#banner .left-side .socialmedia-links{
    margin-top: 40px;
}
#banner .left-side .socialmedia-links ul li{
    font-family: Poppins;
    font-size: 22px;
    font-weight: 500;
    line-height: 40px;
    color:#353535;
    padding: 0 10px;
}
#banner .left-side .socialmedia-links ul li a i{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color:#F4F3F3;
    line-height: 40px;
    text-align: center;
    color:#353535;
    transition: .3s;
}
#banner .left-side .socialmedia-links ul li a i:hover{
    color: #F4F3F3;
    background-color: #353535;
}
#banner .right-side img{
    margin-right: -100px;
}
#banner .left-side h5 img{
    padding-left: 45px;
}
/* banner part end */

/* about part start */
#about-me{
    height: 556px;
    background: linear-gradient(95.13deg, #FFCC00 -21.46%, #FAFFCB 112.13%, #FAFFCB 112.13%);
    
}
#about-me .left-side{
    width: 50%;
    margin-top: 26px;
}
#about-me .right-side {
    margin: 70px 0 0 20px ;
}
#about-me .right-side h2{
    font-family: PT Sans;
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    color: #353535;
    padding-bottom: 30px;
}
#about-me .right-side  p{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 38px;
    color: #353535;
    padding-bottom: 75px;
}
#about-me .right-side  a{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: #353535;
    padding: 15px 40px;
    border-radius: 20px;
    border: 1px solid #000000;
    margin-top: 50px;
    transition: .3s;
}
#about-me .right-side  a:hover{
    background-color: #FFCC00;
    color: #fff;
}
#about-me .container{
    position: relative;
}
#about-me .overlay{
    position: absolute;
    bottom: 0;
    right: -150px;
}
/* about part end */

/* quality part start */
#quality {
    height: 625px;
}
#quality .card{
    padding: 20px 47px;
    text-align: center;
    width: calc(100% / 3 - 30px);
    margin: 135px 15px 0 15px;
    background-color:#fff;
    border-radius: 15px;
    box-shadow: 0px 4px 30px 0px #00000014;
}
#quality .card img{
    padding: 15px 0;
}
#quality .card h4{
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    line-height: 40px;
    color: #353535;
    padding-bottom: 15px;
}
#quality .card p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #7A7A7A;
    padding-bottom: 15px;
}
/* quality part end */

/* Branding part start */
#branding{
    height: 473px;
}
#branding .container{
    background: linear-gradient(95.13deg, #FFCC00 -21.46%, #FFF5CB 112.13%);
    border-radius: 30px;

}
#branding .container .left-side{
    margin-top: 18px;
}
#branding  .right-side {
    margin: 70px 0 0 40px ;
    position: relative;
}
#branding  .right-side .detail h2{
    font-family: PT Sans;
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    color: #353535;
    padding-bottom: 30px;
}
#branding  .right-side .detail  p{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 38px;
    color: #353535;
    padding-bottom: 75px;
}
#branding  .right-side .detail  a{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: #353535;
    padding: 15px 40px;
    border-radius: 20px;
    border: 1px solid #000000;
    margin-top: 20px;
    transition: .3s;
}
#branding  .right-side .detail  a:hover{
    background-color: #FFCC00;
    color: #fff;
}
#branding  .overlay-1{
    position: absolute;
    bottom: 105px;
    right: 280px;
}
#branding  .overlay-2{
    position: absolute;
    top: -110px;
    right:80px;
}
/* Branding part end */


/* main part end */



/* footer part start */
#footer{
    background-image:url(../Images/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 480px;
    padding: 72px 0;
}
#footer .footer-widget{
    width: calc(100% / 3);
}
#footer .widget-2 h4{
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}
#footer .widget-2 p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    color:  #BBB9B9;
}
#footer .widget-3 {
    text-align: right;
    margin-top: 60px;
}
#footer .widget-3 a{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    padding: 18px 32px;
    background-color:#FFCC00;
    border-radius: 16px;
    color: #fff;
    margin-left: auto;
}
#footer .widget-3 i{
    color: #fff;
}
#footer .widget-4 h6{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #BBB9B9;
}
#footer .widget-4 a{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    color: #fff;
}
#footer .widget-5 h6{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #BBB9B9;
}
#footer .widget-5 a{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    color: #fff;
}
#footer .widget-6 {
    color: #BBB9B9;
    line-height: 48px;
    padding-left: 63px;
} 
#footer .widget-6 li{
    padding: 0 10px;
    text-align: right;
}
#footer .widget-6 li a i {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color:#484848;
    line-height: 48px;
    text-align: center;
    color: #BBB9B9;
    transition: .3s;
}
#footer .widget-6 li a i:hover{
    background-color: #BBB9B9;
    color:#484848 ;
}
#footer .secone-row {
    margin-top: 100px;
}
/* footer part end */
